h1{
    text-align: center;
    font-family: 'myfont', sans-serif;
    color: #000000;
}

@font-face {
    font-family: 'myfont';
    src: url(proj4images/Gruppo-Regular.ttf)
}

body{
    font-family: sans-serif
}

h2{
    color: #000000;
    text-align: center;
    position: relative;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 10px; color: black;
    border-radius: 10%;
  }

.row{
    margin: 10px;
    display: flex;
    flex: 1;
    Width: 1200px;
    text-align: left;
    margin: 10px auto;
    flex-direction: column;
    background-color: white;
}

.box{
border-radius: 100;
background-color: blueviolet;
}

nav li{
    padding: 10px;
    padding-right: 60px;
    display: inline;
    font-size: large;
}
nav{
    padding: 10px;
    text-align: center;
    position: inline;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

