h1{
    text-align: center;
    display: relative;
    font-family: 'myfont', sans-serif;
    color: #000000;
}

@font-face {
    font-family: 'myfont';
    src: url(proj4images/Gruppo-Regular.ttf)
}

body{
    font-family: sans-serif
}

.column {
    display: inline-block;

}

h2{
    color: #000000;
    text-align: center;
    position: relative;
}
table {
    border-collapse: separate;
    border-spacing: 0;
  }

  .row > div{
    padding: 20px;
    margin: 0px;
    flex: 1;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey
}

.row{
    display: flex;
    border-radius: 10px;
    width: 1200px;
    background-color: white;
    margin: 10px auto;
    padding:10px
}

#photo1{
    min-width: 150px;
    border-radius: 5%
}

nav li{
    padding: 10px;
    padding-right: 60px;
    display: inline-block;
    font-size: large;
}
nav{
    padding: 10px;
    text-align: center;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

