h1{
    text-align: center;
    display: relative;
    font-family: 'myfont', sans-serif;
    color: #000000;
}

@font-face {
    font-family: 'myfont';
    src: url(proj4images/Gruppo-Regular.ttf)
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px;
}

#image2{
    width: 100%;
    height: 40%;
}
#photo1{
    min-width: 30px;
    max-width: fit-content;
}

h2{
    color: #000000;
    text-align: center;
    position: relative;
    font-family: 'font2';

}
@font-face {
    font-family: 'font2';
    src: url(proj4images/PTSans-Regular\ 2.ttf)
}

table {
    border-collapse: separate;
    border-spacing: 0;
  }

#home{
    display: flex;
    border-radius: 40%;
    width: 1200px;
    background-color: white;
    margin: 10px auto;
    padding: 30px;
}

#home > div{
    padding: 40px;
    flex: 1;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey
}

#buy{
    display: flex;
    border-radius: 40%;
    width: 1200px;
    background-color: white;
    margin: 10px auto;
    padding: 30px;
}

#buy > div{
    padding: 40px;
    flex: 1;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey
}

#about{
    display: flex;
    text-align: center;
    border-radius: 40%;
    background-color: white;
    margin: 10px auto;
    width: auto;
    max-width: 700px;
}

#about > div{
    padding: 40px;
    flex: 1;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey
}

#list{
    display: inline;
    text-align: center;
    border-radius: 40%;
    background-color: white;
    margin: 10px auto;
    font-family: 'font2', sans-serif;
    max-width: 500px;
}

#photo1{
    min-width: 30px;
    max-width: fit-content;
}

p{
    font-family: 'font2';
}

form{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFD1D1;
    padding: 4em;
    width: 600px;
    border-radius: 10px;
}

label,input{
    width: 100%;
    align-items: center;
}

input{
    border-radius: 10px;
}

nav li{
    padding: 10px;
    display: inline;
    font-size: large;
    flex-direction: column;
}

nav{
    padding: 10px;
    text-align: center;
    font-family: 'font2';
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

p{
    font-family: 'font2';
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 12px;
  }

  .button {
    background-color: #FFD1D1;
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

  .form{
    display: flex;
    border-radius: 40%;
    width: 1200px;
    background-color: white;
    margin: 10px auto;
    }
    ul{
    margin: 0;
    padding: 0;
    }
    
    li{
        display: inline;
        padding: 0 20px;
    }
    a{
        display: inline-block;
        text-transform: none;
        text-decoration: none;
    }
    a div{
        margin-top: 10px;
        background-color: pink;
        height: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }