h1{
    text-align: center;
    display: relative;
    font-family: 'myfont', sans-serif;
    color: #000000;
}

@font-face {
    font-family: 'myfont';
    src: url(proj4images/Gruppo-Regular.ttf)
}

main{
    max-width: 1200px;
    margin: auto;
}

#photo1{
    min-width: 30px;
    max-width: 900px;
}

h2{
    color: #000000;
    text-align: center;
    position: relative;
    font-family: 'font2';

}
@font-face {
    font-family: 'font2';
    src: url(proj4images/PTSans-Regular\ 2.ttf)
}

#home{
    display: flex;
    border-radius: 40%;
}

#home > div{
    padding: 40px;
    flex: 1;
    text-align: center;
}


#buy{
display: grid;
grid-template-columns: 1fr 1fr;
}

#buy > .product{
    display: inline-block;
    vertical-align: middle;
    padding: 40px;
    flex: 1;
    text-align: center;
}

.text{
    text-align: center;
    padding: 40px;
}

#about{
    display: block;
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#about > div{
    padding: 40px;
    flex: 1;
}

.aboutlist{
    display: flex;
    text-align: center;
    background-color: white;
    font-family: 'font2', sans-serif;
}

#photo1{
    min-width: 30px;
    max-width: fit-content;
    padding: 50px;
    border-radius: 16px;
    border: 1px solid lightgrey
}

p{
    font-family: 'font2';
}

.form{
    display: flex;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFD1D1;
    padding: 4em;
    border-radius: 16px;
    }

form{
margin: auto;
}

    #password{
        font-size: x-large;
    }

    #username{
        font-size: x-large;
    }

    #submit{
        background-color: white;
        width: 200px;
        margin: auto;
    }

#link{
    text-decoration: solid;
    color: #000000;
}

label,input{
    display: block;
    width: 1000px;
    text-align: center;
    height: 30px;
}

input{
    border-radius: 16px;
}

nav li{
    padding: 10px;
    display: inline;
    font-size: large;
    flex-direction: column;
}

nav{
    padding: 40px;
    text-align: center;
    font-family: 'font2';
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

p{
    font-family: 'font2';
}

  .button {
    background-color: #FFD1D1;
    font-size: medium;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

    ul{
    margin: 10px;
    padding: 10px;
}
    
    li{
        display: inline-block;
        text-align: center;
    }

    a{
        display: inline-block;
        text-transform: none;
        text-decoration: none;
    }
    
    a div{
        margin-top: 10px;
        background-color: pink;
        height: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }

    #image{
        display: flex;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #image2{
        display: none;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }

  @media screen and (max-width: 1200px)
  {
    #image{
        display: none;
    }
    #image2{
      display: block;
    }

    li{
        display: inline-block;
        width: calc(50%-40%);
        padding: 0 20px;
    }
    #home{
        display: block;
    }

    #home > div{

        flex: 1;
        text-align: center;

    }
    #buy{
        display: grid;
        grid-template-columns: 1fr;
        }

    .text{
        text-align: center;
    }
    #about{
        display: block;
        text-align: center;
        width: 500px;

    }
    label,input{
        width: 300px;
        margin: auto;
    }
    .form{
        display: flex;
        margin: auto;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #FFD1D1;
        padding: 2em;
        border-radius: 16px;
        width: 400px;
        }
       
    }