h1{
    text-align: center;
    font-family: 'myfont', sans-serif;
    color: #0400BD;
}
@font-face {
    font-family: 'myfont';
    src: url(font/Kurale-Regular.ttf)
}
body{
    color: #4B0303;
    display: inline;
    font-family: serif
}

h2{
    color:#4B0303;
    text-align: right;
    padding-right: 10em;
}
.row > div{
    padding: 40px;
    flex: 1;
    text-align: center;
}

.row{
    display: flex;
    flex: 1;
    text-align: left;
    margin: 10px auto;
    flex-direction: row;
    background-color: white;
    width: 900px
}

.row2{
    display: inline-block;
    padding: 100px;
    flex: 1;
    text-align: left;
    margin: 10px auto;
    flex-direction: row;
    background-color: white;
    width: 800px
}
.row3{
    display: inline;
    position:relative;
    padding: 100px;
    flex: 1;
    text-align: left;
    margin: 10px auto;
    flex-direction: row;
    background-color: white;
    width: 800px
}

nav ul{
    margin: 10px;
    text-decoration-color: rgb(162, 19, 19);
}

nav li{
    padding: 10px;
    padding-right: 60px;
    list-style-type: none;
    display: inline;
    color: white;
    font-size: large;
    font-family: serif
}

nav{
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: #E5EAFF;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo{
    position: relative;
    padding: 0;
    margin: 0;
}

hr{
    background-color: rgb(223, 223, 223);
    height: 5px;
    border: 0;
}
#image{
    position: center;
}
#image2{
    position: center;
}

.background-image{
background-position: top center;
width: 100%;
text-align: center;
}

.background-image{
background-position: top center;
width: 100%;
}
#Photo{
    padding: 0;
    margin: 0;
}