#Title{
    display: flex;
    width: 1440px;
    background-color: #FDFFE4;
    margin: 10px auto;
    text-align: center;
    font-size: 19px;
    font-family: serif;
  }

.rating {
    height: 50px;
    width: 10px;
    background-color: rgb(150, 147, 147);
    border: solid;
    border: 1px;
    margin-left: 10px; margin-right: 10px;
  }
  .box1 {
  margin-right: 100px;
  height: 100px;
  width: 350px;
  border: 1px solid black; background-color: #00364A;
  float: inline-end;
}
.box2 {
  margin-left: 100px;
  height: 100px;
  width: 350px;
  border: 1px solid black; background-color: #00364A;
  float: inline-start;
}
.row{
    padding: 10px;
    flex: 1px;
    text-align: left;
    padding: 20px;
  }
.row{
    display: flex;
    width: 1450px;
    background-color: #FDFFE4;
    margin: 10px auto;
}

.body{
  background-color: #FDFFE4
}
.photo {
  padding: 20px;
}
h2{
  padding: 10px;
  text-size-adjust: 20px;
  color: #5C0700;
  font-family: serif;
}
p{
  padding:10px;
  color: #00364A;
}
#circle {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: rgb(23, 23, 41);
  }
#circle2 {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: rgb(194, 190, 190);
}
